@{
    ViewData["Title"] = "編輯";
}

@model YCInterview.Models.TodoItem

<h2>編輯事項</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsDone">完成?</label>
        <input asp-for="IsDone" />
    </div>
    <button type="submit" class="btn btn-primary">更新</button>
    <a asp-action="Index" class="btn btn-secondary">取消</a>
</form>
